/* Header Section */
.head {
  background-image: url(header-bg.png);
  color: white;
  text-align: center;
  padding: auto;
  margin: collapse;
}

body {
  font-family: "poppins", serif;
  font-style: normal;
  color:#60657a;
  margin: 0;
  padding: 0;
}

.home {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.image {
  display: flex;
  gap: 10px;
}

.download {
  background-color: blue;
  color: aliceblue;
  display: flex;
}

.container {
  max-width: 1200px;
  padding-left: 0;
  padding-right: 0%;
  margin: 0 auto;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0%;
  width: 100%;
}

.left {
  float: left;
}

.right {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
}

.right ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.right ul li {
  list-style-type: none;
  gap: 20px;
  padding: 0.5rem 1rem;
}

.header-menu {
  padding: 2rem 0;
}


.form-control {
  display: block;
  width: 100%;
  padding: .375rem 1.8rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.search_icon_section {
  position: relative;
  width: 100%;
  max-width: 35rem;
  margin: 0 auto;
}

.search_icon {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}

.height-20 {
  height: 8rem;
}

.height-10 {
  height: 2rem;
}

/* Brands Section */
.brand_logo {
  padding: 2rem;
}
.logo_slider1  {
  display:flex;
  gap: 70px;
  
}

.logo_slider  {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto ;
  grid-gap: 10px;
  padding: 10px;
  background-color: #f8f8f8;
}

.logo_slider >div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  
}

.menu_left {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.menu_left ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.menu_left ul li {
  list-style-type: none;
  padding: 0.5rem 1rem;
}

.header-menuu {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin: 2rem 3rem;
}

.one {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.two {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.three {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

/* category_logo Section */
.category_logo {
  padding: 2rem 0;
}


/* .logo_slider ul{

} */

.logo_slider .team {
  position: absolute;
  top: 2em;
  color:#eee;
  font-weight: 500;
  /* padding-left: 2rem; */
}

.logo_slider .card img {
  border-radius: 1rem;
}

.why-us-section {
  display: flex;
  padding: 2rem 30px;
  justify-content: space-between;
}

.why-right span {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

/* .why-left
{

} */
/* Download Section */
.download_section {
  padding: 2rem 0;
}

.pricing {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.plan {
  background: #1b4bff;
  padding: 20px;
  border-radius: 8px;
  width: 260px;
  text-align: center;
  border: 0.5px solid white;
  color: #fff;
}

.plan h3 {
  font-size: 22px;
}

.plan p {
  margin: 10px 0;
}
.button-1{
  background-color: transparent;
  color:white;
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 5px ;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  margin-top: 10px;
}

.button {
  background: white;
  color: #002db3;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-weight:600;
  margin-top: 10px;
}

.text-center {
  text-align: center;
  color: #fff;
}

/* Test section */
.test-section {
  padding: 2rem 0 8rem 0;
}

.highlight {
  color: #ffcc00;
  font-weight: bold;
  font-size: large;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 3rem;
  padding: 50px;
}

.testimonial {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 340px;
  text-align: center;
  border: 1px solid #ddd;
}

.testimonial p {
  margin-top: 1rem;
}

.quote {
  font-size: 4rem;
  color: #ffcc00;
  line-height: 20px;
  transform: rotate(180deg);
  margin-bottom: 2rem;
}

.testimonial img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 10px;
}
.why-us-p{
  padding: 0; 
  margin: 0;
  font-size: 18px;
  font-weight:500;
  color: #09143d;
}
.name {
  font-weight: 600;
  letter-spacing:normal;
  color: #09143d;
  font-size: 18px;
  margin-top: 10px;
}

.role {
  font-size: 14px;
  color: #8c909f;
}

.footer-section {
  padding: 2rem 0;
  background:#020d37;
}

.foot-two ul {
  display: block;
  padding: 0;
  margin: 0;
}

.foot-two ul li {
  list-style-type: none;
  color: #8c909f;
  font-size: 20px;
  line-height: 2;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.foot-one p {
  color: #8c909f;
  font-size: 20px;
  line-height: 2;
}

.banner_head {
  font-size: 3rem;
}

.banner_head_para {
  font-size: 1.5rem;
}

.icons-png {
  display: flex;
  -ms-flex-align: center;
  height: 20px;
  padding: 5px;
  gap: 13px;
  align-items: center;
}
/* *{
  border: 1px solid red;
} */
.card {
  position: relative;
}

.card .team {
  position: absolute;
  /* align-items: center; */
  font-size: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tab-right1 .menu-num{
  display: contents;
}
@media screen and (max-width:900px) {
  .logo_slider  {
    display: grid;
    grid-template-columns: 160px 160px 160px 160px ;
    grid-gap:30px;
    /* padding: 20 0; */
    background-color: #f8f8f8;
  }
  .logo_slider > div{
    text-align: center;
    font-size: 30px;
  }
  .why-us-section{
    padding: 10;
  }
  .logo_slider1 {
    display:flex;
    gap: 50px;
  }
  .tab-left-1{
    display: none;
  }
  
  .tab-right1 .menu-num{
    display: contents;
  }
.right{
    display: none;
  }
  .menu-con {
    display: none;
  }
  #header,
  .category_logo,
  .download_section,
  .test-section,
  .footer-section {
    padding: 2rem;
  }
  .why-left {
    text-align: center;
  }
}


@media screen and (max-width: 600px) {
  .logo_slider ul {
    display: flex;
    flex-wrap: wrap;
  }

  .form-control {
    width: 80%;
  }

  .why-left {
    text-align: center;
  }
  .why-right{
    text-align: center;
  }

  .why-us-section,
  .bottom-footer {
    display: block;
    padding: 10px;
  }
  .tab-right1 .menu-num{
    display: contents;
  }
  
  .logo_slider  {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10px;
    padding: 10px;
    background-color: #f8f8f8;
  }
  .logo_slider1  {
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: 70px 70px 70px 70px ;
    grid-gap: 70px;
    padding: 10px;
    background-color:transparent;
  }

  .menu-con ,
   .menu-con-1 {
    display: none;

  }

  .header-menuu .right {
    display: none;
  }

  .header-menuu {
    justify-content: center;
  }

  .menu_left {
    display: flex;
    text-align: left;
  }

  .tab {
    margin: 0;
  }

  .logo_slider ul {
    display: contents;
    display: flex;
    flex-wrap: wrap;
  }

  .plan {
    width: 85%;
    margin: 0.5rem 0;
  }

  .why-right span {
    display: contents;
  }

  .pricing {
    display: contents;
  }

  #header,
  .category_logo,
  .download_section,
  .test-section,
  .footer-section {
    padding: 2rem;
  }

  .header {
    padding: 0.5rem;
  }

  .two {
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
    text-overflow: clip;
  }

  .jump {
    display: none;
  }

  .icons-png {
    display: flex;
  }

  .right ul li {
    padding: 0.5rem;
  }

  .three {
    display: flex;
  }

  .header-menu .right {
    margin: 2rem 0 0;
    display: block;
  }

  .mobile_view {
    display: none;
  }

  .banner_head {
    font-size: 2rem;
  }

  .banner_head_para {
    font-size: 1rem;
  }

  .tea {
    display: contents;
  }

  .logo_slider .card img {
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
  }

  /* .right li {
    display: inline-block;
  } */

  .fil {
    display: contents;
  }
  .testimonial{
    margin-bottom: 50px;
  }
  
  .testimonials{
    display: block;
    margin-bottom: 20px;
    padding-left: 40px;
  }
}